@using Sample.Web.Views.Components
@model Card

<div class="card">
    <h3>
        <slot name="title" model="@Model" >
            Missing Title
        </slot>
    </h3>
    <slot name="content" model="@Model">
        <div>Missing content</div>
    </slot>
</div>