@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <HelloWorld greeting="Hello" />
    <hr />
    <Button>
        Click me
    </Button>
    <hr />
    <Button>
        Click me too
    </Button>
    <hr />
    <Card >
        <fragment slot="title">
            Card title
        </fragment>
        <div slot="content">
            <p>Card content</p>
            <p>Lorem ipsum</p>
        </div>
    </Card>
</div>

